/* Base styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  height: 100%;
  background: url(../assets/forest-landscape.jpg);
  background-repeat: no-repeat;
  background-size: inherit;
}

header {
  width: 95%;
  background-color: rgb(230, 218, 222);
  margin: 0 auto;
  margin-top: 20px;
  height: 100px;
  color: white;
  border-radius: 20px;
  margin-bottom: 50px;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.modal {
  color: rgb(147, 135, 135);
  margin: 5%;
  font-size: 1em;
  line-height: 2em;
}

footer{
  background-color: #1f1433;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 65px;
  color: white;
  position: fixed;
  bottom: 50px;
  border-radius: 15px;
  text-align: center;
}

/* Header styles */
header > ul {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

ul > li {
  margin: 0 auto;
  float: left;
}

header > ul > li:nth-child(2){
  background-color: #1f1433;
  margin-top: 30px;
  border: dashed white 3px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

header > ul > li:nth-child(2) > p {
  text-align: center;
  line-height: 60px;
}

header > ul > li:nth-child(2) > p:nth-child(2) > h1{
  margin: 0 auto;
}

.links {
  color: rgb(85, 58, 64);
}


/* Modal styles */
.modal-content > p {
  margin-bottom: 20px;
} 

.modal-content > button {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(121, 168, 160);
  color: white;
  padding: 10px;
  position: relative;
  border: 1px dashed #1f1433;
}

#easy:after, #medium:after, #impossible:after, #ludicrous:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.4);
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}

#easy:hover:after, #medium:hover:after, #impossible:hover:after, #ludicrous:hover:after {
  width: 120%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


/* Game board styles */
.game-board { 
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards{
  justify-content: center;
  min-height: 400px;
  max-width: 600px;
  max-height: 500px;
  margin: auto;
}

.card.box {
  border-radius: 15px;
  background-color: rgb(235, 240, 232, 0.5);
  font-size: 2.2em;
  color: rgb(92, 112, 129);
  box-shadow: inset 0 0 10px #000000;
  margin: 10px 10px;
  /* position: relative; */
}

.card.box:active {
  background-color: rgb(182, 231, 182);
}

#currentValue {
  background-color: rgb(110, 88, 93, 0.7);
  color: white;
  border-radius: 200px;
  font-size: 2.2em;
}


/* Footer styles */
footer > ul {
  height: 65px;
  display: flex;
  align-items: center;
}

footer > p > a {
  color: white;
  text-decoration: none;
  font-size: 1.6em;
}

footer > ul > li > a, footer > ul > li > p, footer > p > a {
  color: antiquewhite;
}

footer > p > a {
  line-height: 50px;
  font-size: 1em;
}

#raptors {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(240, 231, 220, 0.5);
}

/* About Page */
header > h1 {
  color: #1f1433;
  text-align: center;
  line-height: 100px;
  font-size: 2.2em;
}

section#teamInfo > p {
  margin-bottom: 20px;
  color: #1f1433;
}

#teampic{
  border-radius: 15px;
  border: 1px solid #1f1433;;
  margin-bottom: 20px;
}

section#individualInfo {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: green;
}

section#individualInfo > div {
  border: 1px dashed #1f1433;
  padding: 15px;
  background-color: rgb(230, 218, 222, 0.5);
  border-radius: 50%;
}

section#individualInfo > div > h2 {
  margin: 8px 8px;
  text-transform: uppercase;
}

section#individualInfo > div > a {
  color: #1f1433;
  margin: 5px 5px;
}

section#individualInfo > div > a:hover {
  color: green;
}


/* Desktop view */
@media screen and (min-width: 768px){
  body {
    background-size: cover;
  }

  header {
    margin-bottom: 90px;
  }

  #teampic {
    width: 40%;
    height: 350px;
  }

  main > section > p {
    font-size: 26px;
  }

  section#individualInfo {
    margin: 0 18%;
  }
}

/* Mobile view */
@media screen and (min-width: 480px) and (max-width: 767px){
  body {
    background-size: inherit;
  } 

  #teampic {
    width: 40%;
    height: 100px;
  }

  main > section > p {
    font-size: 20px;
  }
}


